html {
    overflow-x:hidden;
}

body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(https://github.com/celso-henrique/dio-dino-game/blob/master/dino.png?raw=true);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(https://github.com/celso-henrique/dio-dino-game/blob/master/cactus.png?raw=true);
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

.background {
    position: absolute;
    bottom: 0px;
    background-image: url(https://github.com/celso-henrique/dio-dino-game/blob/master/background.png?raw=true);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}

.box {
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fafafa;
    position:absolute;
}

.gameOver {
    left: 50%;
    top: 50%;
    margin-left: -200px; 
    margin-top: -100px;
    position: absolute;
    width: 300px; 
    height: 200px;
    background-color:black;
    border-radius: 15px;
}

.text {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-top: 50px 0;
    font-family: arial;
    cursor: default;
}

.score {
    font-size: 30px;
}

button {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-image: url(https://www.freeiconspng.com/thumbs/reload-icon/arrow-refresh-reload-icon-29.png);
    border-radius: 5px;
    background-size: 100%;
    cursor: pointer;
    border: none;
}